<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        <% if @random_drug %>
          Где найти <%= link_to  @random_drug.title_ru, drug_path(@random_drug), class: "has-text-warning" %>?
        <% else %>
          <%= link_to "Добавить лекарство первым", new_drug_path, class: "has-text-warning" %>
        <% end %>
      </h1>
      <h2 class="subtitle">
        Народный мониторинг наличия лекарств в аптеках
      </h2>
    </div>
  </div>
</section>
