<section class="hero is-medium is-primary is-bold">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Где найти <a class="has-text-warning" href="#">Ципролет</a>?
      </h1>
      <h2 class="subtitle">
        Народный мониторинг наличия лекарств в аптеках
      </h2>
    </div>
  </div>
</section>
